.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler {
    border: none;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        margin-top: 1rem;
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .ms-auto {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem !important;
    }
}