.auth-wrapper {
  
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  
  box-sizing: content-box;

  
  background-color: #0F3F7A; 

  
  background-image: url('/assets/wave-bg.svg');
  background-repeat: no-repeat;
  
  
  background-position: top center;
  
  
  background-size: cover;

  padding-top: 260px; 
  padding-bottom: 40px;
}


@media (max-width: 991px) {
  .auth-wrapper {
    
    padding-top: 180px;
    background-position: top center;
  }
}