
.carrousel-track::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent;
}

.carrousel-track {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
}


@media (min-width: 768px) {
    .carousel-width {
        width: 100%;
        max-width: 1000px;
    }

    .card-width {
        width: calc(33.333% - 1rem);
        
        scroll-snap-align: start;
    }
}


@media (max-width: 767.98px) {
    .carousel-width {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .card-width {
        
        width: 100%;
        min-width: 100%;
        flex: 0 0 100%;
        
        scroll-snap-align: center;
        scroll-snap-stop: always;
        margin-right: 0;
        padding: 0 1rem;
        
        box-sizing: border-box;
    }

    
    activity-card,
    proposal-card,
    entity-card {
        display: block;
        width: 100%;
    }
}

.transition-all {
    transition: all 0.3s ease;
}