<nav class="navbar navbar-expand-lg py-3"
    [ngClass]="{'navbar-mode-white': mode === 'white', 'navbar-mode-blue': mode === 'blue', 'navbar-light': mode === 'white', 'navbar-dark': mode === 'blue'}">
    <div class="container-fluid px-4 px-lg-5">
        
        <a class="navbar-brand" routerLink="/">
            <img [src]="currentLogo" alt="Voluntariado4V" height="50">
        </a>

        
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent" [class.bg-white-mobile]="true">
            

            <div class="ms-auto d-flex align-items-center gap-4">

                @for (opt of options; track opt) {
                    
                    @if (opt.type !== 'button') {
                    <a [routerLink]="opt.path" (click)="opt.action ? opt.action() : null"
                        class="text-decoration-none fw-medium small nav-link-custom pointer" [style.cursor]="'pointer'">
                        {{ opt.label }}
                    </a>
                    }

                    
                    @if (opt.type === 'button') {
                    <button (click)="opt.action ? opt.action() : null"
                        [routerLink]="opt.path" class="btn rounded-pill px-4 py-2 fw-bold small btn-custom">
                        {{ opt.label }}
                    </button>
                    }
                }

                
                @if (showLogout) {
                <div class="d-flex align-items-center gap-3">
                    @if (user$ | async; as user) {
                        @if (getProfileUrl(user)) {
                            <img [src]="getProfileUrl(user)" 
                                 alt="Profile" 
                                 class="rounded-circle shadow-sm cursor-pointer profile-img"
                                 width="40" 
                                 height="40"
                                 style="object-fit: cover; cursor: pointer;"
                                 (click)="toggleProfileModal()">
                        } @else {
                            <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center text-white shadow-sm cursor-pointer profile-img"
                                 style="width: 40px; height: 40px; cursor: pointer;"
                                 (click)="toggleProfileModal()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                </svg>
                            </div>
                        }
                    }

                    <button (click)="logout.emit()"
                        class="btn btn-link text-decoration-none fw-medium small d-flex align-items-center gap-2 logout-btn">
                        Log out
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                    </button>
                </div>
                }
            </div>
        </div>
    </div>
</nav>

@if (showProfileModal) {
    <app-profile-modal (close)="showProfileModal = false"></app-profile-modal>
}