.action-item:hover {
    background-color: #f1f3f5;
}

.card {
    border-radius: 1rem;
}

.list-group-item {
    border-color: #eee;
}

.border-bottom-2 {
    border-bottom: 2px solid #000 !important;
}

.sticky-sidebar {
    position: sticky;
    top: 2rem;
    
    height: fit-content;
    z-index: 100;
    
}